{% extends "details/signup1.html" %}
{% load static %}

{% block body %}

<div class="card">
    <div class="img">
        <img src="{% static 'details/images/netimg.png' %}" alt="" width="300px">
    </div>
    <div class ="stepheader">
        <span class="stepindicator">
            STEP
            <b>2</b>
            OF 3
        </span>
    </div>
    <div class="info">
        <img src="{% static 'details/images/tick1.jpg'%}" alt="" width="30px">
        <span>No commitements cancel anytime</span>
        {{lis}}
    </div>
    <div class="info">
        <img src="{% static 'details/images/tick1.jpg'%}" alt="" width="30px">
        <span>Everything on Netflix for one low Price</span>
    </div>
    <div class="info">
        <img src="{% static 'details/images/tick1.jpg'%}" alt="" width="30px">
        <span>No ads and no extra fees ever</span>
    </div>
    <button class="btn">
        <a href="{% url 'signup3'%}">NEXT</a>
        </button>
</div>

{% endblock %}
<!-- {% load static %} -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'details/css/signup2.css'%}">
</head>

<body>
    <nav class="navbar">
        <img src="{% static 'details/images/netflix.png' %}" class="im1">
        <button class="btn1"><a href="#">Sign Out</a></button>
    </nav>

    <div class="main">
        <img src="{% static 'details/images/netflix.png'%}" alt="" class="im2">
        <h4>STEP 2 OF 3</h4>
        <h1> Choose your plan</h1>

        <table class="htb">
            <tr>
                <td><img src="{% static 'details/images/tick.jpeg' %}" class="im3"></td>
                <td>No commitments cancel anytime.</td>
            </tr>
            <tr>
                <td><img src="{% static 'details/images/tick.jpeg'%}" class="im3"></td>
                <td>Everything on Netflix for one <br> low price.</td>
            </tr>
            <tr>
                <td><img src="{% static 'details/images/tick.jpeg'%}" class="im3"></td>
                <td>No ads and no extra fees. Ever.</td>
            </tr>

        </table><br>
        <button class="btn2"><a href="#">Next</a></button>
    </div>
</body>

</html> -->